---
import Modal from './Modal.astro';
const { usuarioId } = Astro.props;
const PUBLIC_API_URL = import.meta.env.PUBLIC_API_URL;
---

<h1 class="text-3xl font-bold text-center mt-10">Cambia tu contraseña</h1>

<form id="formCambioPassword" class="w-full max-w-xl mx-auto m-4 p-4 rounded shadow-lg border-2 border-gray-300">
  <div class="mb-4">
    <label for="password">
      Contraseña:
      <span id="mensaje_password" class="text-gray-400">
        Debe contener al menos 8 caracteres, un número y una mayúscula
      </span>
    </label>
    <input type="password" id="password" name="password" required />
  </div>
  
  <div class="mb-4">
    <label for="password_confirm">Confirma la contraseña:</label>
    <input type="password" id="password_confirm" required />
  </div>

  <button type="submit">Cambiar</button>
  <a
    class="bg-amber-600 hover:bg-amber-800 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
    href="javascript:history.back()">Volver</a
  >
  <p id="mensaje"></p>
</form>

<Modal title='Aviso:' />
<script define:vars={{ usuarioId, PUBLIC_API_URL }}>
  const formulario = document.getElementById("formCambioPassword");
  const mensaje = document.getElementById("mensaje");
  // const usuarioId = document.getElementById("usuarioId").value;

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const password = formulario.password.value;
    const passwordConfirm = formulario.password_confirm.value;

    // Verificar que las contraseñas coincidan
    if (password !== passwordConfirm) {
      mensaje.textContent = "Las contraseñas no coinciden.";
      mensaje.style.color = "red";
      return;
    }

    try {
      const response = await fetch(`${PUBLIC_API_URL}/api/modificar_password/${usuarioId}`, {
        method: "POST",
        credentials: "include",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify({ password }),
      });

      const result = await response.json();

      if (response.ok) {
        mensaje.textContent = "Editado con éxito";
        mensaje.classList.remove("text-red-500");
        mensaje.classList.add("text-green-500");
        window.showModal({
            message: "Contraseña cambiada correctamente.",
            onConfirm: () => {
              window.location.href = "/mi-perfil";
            }
          });
      } else {
          if (result.errores && Array.isArray(result.errores)) {
            const erroresTexto = result.errores
              .map((e) => `${e.campo}: ${e.error}`)
              .join("\n");
            mensaje.textContent = `Error: ${erroresTexto}`;
          } else {
            mensaje.textContent = `Error: ${result.mensaje || "Error desconocido"}`;
          }
          mensaje.classList.add("text-red-500");
        }
    } catch (error) {
      mensaje.textContent = "Error de red. Inténtalo de nuevo más tarde.";
      mensaje.style.color = "red";
    }
  });
</script>
