{% extends 'base.html.twig' %}

{% block title %}Mascota index{% endblock %}

{% block body %}
    <h1>Listado MASCOTAS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Num_chip</th>
                <th>Observaciones</th>
                <th>Foto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mascota in mascotas %}
            <tr>
                <td>{{ mascota.id }}</td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.numChip }}</td>
                <td>{{ mascota.observaciones }}</td>
                <td>{{ mascota.foto }}</td>
                <td>
                    <a href="{{ path('app_mascota_edit', {'id': mascota.id}) }}">edit</a>
                    <a href="{{ path('app_mascota_delete', {'id': mascota.id}) }}">eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mascota_new') }}">Create new</a>
    <br>
    <a href="{{ path('app_usuario_index') }}">Mi perfil</a>
{% endblock %}
