{% extends 'base.html.twig' %}

{% block title %}Mascota index{% endblock %}

{% block body %}
    <h1>Mascota index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Num_chip</th>
                <th>Observaciones</th>
                <th>Foto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mascotum in mascotas %}
            <tr>
                <td>{{ mascotum.id }}</td>
                <td>{{ mascotum.nombre }}</td>
                <td>{{ mascotum.numChip }}</td>
                <td>{{ mascotum.observaciones }}</td>
                <td>{{ mascotum.foto }}</td>
                <td>
                    <a href="{{ path('app_mascota_show', {'id': mascotum.id}) }}">show</a>
                    <a href="{{ path('app_mascota_edit', {'id': mascotum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mascota_new') }}">Create new</a>
{% endblock %}
